name: CI/CD Petshop Deployment

on:
  push:
    branches: [ main ] # Se déclenche dès que tu push sur la branche main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Configuration de la clé SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.AWS_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Installation d'Ansible
        run: sudo apt-get update && sudo apt-get install -y ansible

      - name: Lancement du Playbook Ansible
        run: |
          ansible-playbook -i inventory.ini deploy_petshop.yml \
          --private-key ~/.ssh/id_rsa \
          -u ubuntu \
          --ssh-common-args='-o StrictHostKeyChecking=no'
