name: CI/CD Petshop Full Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Configuration de la clé SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.AWS_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          
      - name: Connexion à Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build et Push de l'image Petshop
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/petshop:latest

     

      - name: Scan de l'image avec Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ secrets.DOCKER_USERNAME }}/petshop:latest'
          format: 'table'
          exit-code: '0' 
          severity: 'CRITICAL,HIGH'
          
      - name: Lancement du Hardening (Fail2Ban & UFW)
        run: |
          ansible-playbook -i inventory.ini security_hardening.yml \
          --private-key ~/.ssh/id_rsa -u ubuntu \
          --ssh-common-args='-o StrictHostKeyChecking=no'

      

      
      - name: Installation d'Ansible
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible

      
      - name: Lancement du Playbook Application
        run: |
          ansible-playbook -i inventory.ini deploy_petshop.yml \
          --private-key ~/.ssh/id_rsa -u ubuntu \
          --ssh-common-args='-o StrictHostKeyChecking=no'

      - name: Lancement du Playbook Monitoring
        run: |
          ansible-playbook -i inventory.ini install_monitoring.yml \
          --private-key ~/.ssh/id_rsa -u ubuntu \
          --ssh-common-args='-o StrictHostKeyChecking=no'
