name: CI/CD Petshop Full Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      # --- PARTIE 1 : DOCKER (CONSTRUCTION) ---
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/petshop:latest

      # --- PARTIE 2 : ANSIBLE (DÉPLOIEMENT) ---
      - name: Configuration de la clé SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.AWS_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Installation d'Ansible
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible

      - name: Lancement du Playbook Ansible
        run: |
          ansible-playbook -i inventory.ini deploy_petshop.yml \
          --private-key ~/.ssh/id_rsa \
          -u ubuntu \
          --ssh-common-args='-o StrictHostKeyChecking=no'

      - name: Nettoyage
        if: always()
        run: rm -f ~/.ssh/id_rsa
